<header class="bg-white px-3 py-2 w-100 rounded-4 ">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-start">
            <span class="logo fw-bold fs-1 cursor-pointer">PIXL</span>

            <div class="d-flex justify-content-between w-75">
                <span class="px-3 fs-4">Home</span>
                <span class="pe-3 fs-4">About</span>
                <span class="pe-3 fs-4">Forum</span>
                <span class="pe-3 fs-4">Contact</span>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <div class="position-relative">
                <input type="text">
                <i class="search-icon bi bi-search"></i>
            </div>
        </div>
        <div class="col d-flex w-75 align-items-center justify-content-end ">
            <span class="button rounded px-3 py-1 me-3 fs-5 rounded-pill">Get started</span>
            <span class="button rounded px-3 py-1 fs-5 rounded-pill">Login</span>
        </div>
    </div>
</header>