<main class="d-flex justify-content-center align-items-center">
    <div class=" hero d-flex flex-column align-items-center h-auto w-auto rounded-5">


        <svg class="login-logo my-5" width="64px" height="64px" viewBox="-2.4 -2.4 28.80 28.80" version="1.1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)">
                <rect x="-2.4" y="-2.4" width="28.80" height="28.80" rx="6.624" fill="#ffffff" strokewidth="0">
                </rect>
            </g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <title>login</title>
                <desc>Created with sketch tool.</desc>
                <g id="web-app" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="login" fill="#000000">
                        <path
                            d="M9.58578644,11 L7.05025253,8.46446609 L8.46446609,7.05025253 L13.4142136,12 L8.46446609,16.9497475 L7.05025253,15.5355339 L9.58578644,13 L3,13 L3,11 L9.58578644,11 Z M11,3 C16.3333333,3 19,3 19,3 C20.1000004,3 21,3.9000001 21,5 C21,5 21,19 21,19 C21,20.1000004 20.1000004,21 19,21 C19,21 16.3333333,21 11,21 L11,19 L19,19 L19,5 L11,5 L11,3 Z"
                            id="Shape"> </path>
                    </g>
                </g>
            </g>
        </svg>
        <h1 class="mb-4">Sign in with email</h1>
        <form class="" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div class="d-flex align-items-center justify-content-center flex-column">
            <div id="email" class="position-relative d-flex align-items-center justify-content-center">
                <input class="  mb-4" type="email" tabindex="1" formControlName="email">
                <i class="icon position-absolute bottom-50 bi bi-envelope-fill"></i>
            </div>
            <div id="password" class="position-relative d-flex align-items-center justify-content-center">
                <input class=" mb-4" [type]="fieldTextType ? 'text' : 'password'" tabindex="2"
                    formControlName="password">
                <i class="icon position-absolute bottom-50 bi bi-lock-fill"></i>
                <span (click)="toggleFieldTextType()">

                    <i class="bi password-hide position-absolute" [ngClass]="{
            'bi-eye-slash': !fieldTextType,
            'bi-eye': fieldTextType
          }"></i>
                </span>
            </div>
            <button class="button my-3 py-1 fs-4 ml-3 rounded-3 text-center" type="submit"  tabindex="3">Get started</button>
          </div>
        </form>
        <div class="line-container mt-2">
            <hr class="line">
            <span class="line-text">or sign in with</span>
            <hr class="line">
        </div>
        <div class="d-flex align-items-center justify-content-center my-4 w-50">
            <div class="cursor me-3 rounded border border-1 px-5 py-2 w-50  d-flex align-items-center justify-content-center"
                tabindex="4">
                <img class="link-icon" src="../../assets/images/icons/google-icon.png" alt="">
            </div>
            <div class="cursor me-3 rounded border border-1 px-5 py-2 w-50 d-flex align-items-center justify-content-center"
                tabindex="5">
                <img class="link-icon" src="../../assets/images/icons/facebook-icon.png" alt="">

            </div>
            <div class="cursor rounded border border-1 px-5 py-2 w-50 d-flex align-items-center justify-content-center"
                tabindex="6">
                <img class="link-icon" src="../../assets/images/icons/apple-icon.png" alt="">
            </div>
        </div>
    </div>
</main>