<main class="d-flex justify-content-center align-items-center">
    <div class="hero h-75 w-25 rounded-5 d-flex justify-content-center ">

        <div>
            <svg class="login-logo mt-5" width="64px" height="64px" viewBox="-2.4 -2.4 28.80 28.80" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)">
                    <rect x="-2.4" y="-2.4" width="28.80" height="28.80" rx="6.624" fill="#ffffff" strokewidth="0">
                    </rect>
                </g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <title>login</title>
                    <desc>Created with sketchtool.</desc>
                    <g id="web-app" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="login" fill="#000000">
                            <path
                                d="M9.58578644,11 L7.05025253,8.46446609 L8.46446609,7.05025253 L13.4142136,12 L8.46446609,16.9497475 L7.05025253,15.5355339 L9.58578644,13 L3,13 L3,11 L9.58578644,11 Z M11,3 C16.3333333,3 19,3 19,3 C20.1000004,3 21,3.9000001 21,5 C21,5 21,19 21,19 C21,20.1000004 20.1000004,21 19,21 C19,21 16.3333333,21 11,21 L11,19 L19,19 L19,5 L11,5 L11,3 Z"
                                id="Shape"> </path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>

    </div>
</main>