main{
    background-image: url('../../utils/images/login-backgroundImage.jpg');
    height: 100vh;
    padding: 0px;
}
.hero{
    background-image: linear-gradient(#d1ff97 2%, #e6e6e6 90%);
    box-shadow: 1px 1px 3px 3px #b4b4b4;
}
.login-logo{

}