
main {
  background-image: url("../../assets/images/login-backgroundImage.jpg");
  height: 100vh;
  padding: 0px;
  background-size: cover;
}

.hero {
  background-image: linear-gradient(#d1ff97 2%, #ffffff 90%);
  box-shadow: 1px 1px 3px 3px #b4b4b4;
}

.login-logo {
  box-shadow: 1px 1px 2px 2px #b4b4b4;
  border-radius: 15px;
}

input {
  all: unset;
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  background-color: rgba(236, 234, 234, 0.706);
  padding: 5px 15px 5px 35px;
  margin-bottom: 50px;
}
#email, #password {
  width: 125%
}

.button {
  width: 125%;
  cursor: pointer;
  padding: 0px 25px;
  background-color: #000000;
  color: #ffffff;
  height: 45px;

}

.icon {

  color: #a5a3a3;
  left: 5%;
}

.line-container {
  display: flex;
  align-items: center;
  width: 80%;
  /* Adjust width as needed */
}

.line {
  flex-grow: 2;
  border: none;
  border-top: 2px dotted #000;
  /* Change color and thickness as needed */
  margin: 0 10px;
  /* Space between line and text */
  background: linear-gradient(to right, black 10%, transparent 25%) repeat-x;
  /* Adjust the percentages for spacing */
}

.line-text {
  white-space: nowrap;
  /* Prevent text from wrapping */
}

.link-icon {
  width: 30px;
  height: 30px;
}

.cursor {
  cursor: pointer;
  box-shadow: 1px 2px 3px 0px #b4b4b4;
}
.cursor:hover {
  border: 2px solid     black;
}

.password-hide {
  bottom: 30px;
  right: 10px;
}

.button:hover {
  border: 2px solid #000000;
  box-shadow: 1px 2px 3px 0px #b4b4b4;
  background-color: #a3dd27;
  color: rgb(0, 0, 0);
}
.button:focus{
  border: 2px solid #000000;
  box-shadow: 1px 2px 3px 0px #b4b4b4;
  background-color: #a3dd27;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 430px) {
  .button {
    background-color: red;
  }

  .hero {
    width: 86% !important;

  }
}